{% extends "global/Page.html" %}
{% load static %}

{% block title %}Robo-Calibration via Hypothetical Lottery{% endblock %}

{% block content %}
    {% if previous_investment %}
        <p>Now you have the option to adjust the amount you invest in the lottery that the robot uses to calibrate its investments. Your previous choice was ${{ previous_investment }}.</p>
    {% endif %}
    
    <p>
        A robo-investor <strong>will be</strong> calibrated to make monthly investment choices on your behalf. The calibration is based on your choice of investment in the <strong>following</strong> lottery. This lottery is only used to calibrate the robo-investor and will not be used for the determination of your bonus payment.    </p>
    <p>
        <strong>Scenario:</strong><br>
        You have $100 available to invest in a lottery that has a 50% chance of increasing your investment by 30% and a 50% chance of decreasing your investment by 10%.
        Any amount you do not invest in the lottery remains unchanged, i.e., you can think of it as a riskfree investment with rate of return of 0%.    </p>

    </p>
    <p>
        Scroll through the bar to see how different investment amounts (ranging from $0 to $100) will affect your outcome. When settled on a choice, please, click NEXT.
    </p>
    <div>
        <input type="range" id="investment_slider" name="investment_amount" min="0" max="100" value="{{ player.investment_amount }}" style="width: 80%;">
        <label for="investment_slider">$<span id="investment_value">{{ player.investment_amount }}</span></label>
    </div>

    <div id="content-wrapper" style="display: flex; justify-content: space-between; align-items: center; margin-top: 20px;">
        <div id="text-wrapper" style="width: 50%;">
            <div id="additional-text">
                <!-- The content will be updated dynamically by JavaScript -->
            </div>
        </div>
        <div id="image-wrapper" style="width: 50%; text-align: center;">
            <img id="risk-image" src="{% static 'LotteryIllicitationNew.png' %}" alt="Risk Image" style="width: 80%;">
        </div>
    </div>

    {% if not previous_investment %}
    <div>
        <button disabled class="otree-btn-next btn btn-primary" id="place_holder" style="cursor: not-allowed; background-color: gray; border-color: gray;">Next</button>
        <span id="help_text" style="display: none; position: absolute; top: 100%; left: 0; background-color: #f9f9f9; border: 1px solid #ddd; padding: 5px; font-size: small; color: red;">Move the slider to enable the button</span>
    </div>
    
    <div id="next_button" style="display:none">
        {{ next_button }}
    </div>
    {% endif %}

    {% if previous_investment %}
    <div id="next_button" style="display: block;">
        {{ next_button }}
    </div>
    {% endif %}

    <script>
        function updateValues(value) {
            var uninvested = 100 - value;
            var gain = (value * 1.3).toFixed(2);
            var loss = (value * 0.9).toFixed(2);
            var total_gain = (uninvested + parseFloat(gain)).toFixed(2);
            var total_loss = (uninvested + parseFloat(loss)).toFixed(2);
            var gain_amount = (0.3 * value).toFixed(2);
            var loss_amount = (0.1 * value).toFixed(2);

            document.getElementById('investment_value').textContent = value;

            var additionalText = '';
            if (value == 0) {
                additionalText = 'If out of $100 you invest $0 in the lottery, your total outcome will be $100.';
            } else {
                additionalText = 
                    `If out of $100 you invest $${value} in the lottery, the lottery will pay back $${gain} with a probability of 50% and $${loss} with a probability of 50%. Thus, it is equally likely that you will lose $${loss_amount} or gain $${gain_amount}.<br>` +
                    `Since you kept $${uninvested.toFixed(2)} uninvested, your total outcome from the $100 given to you will be $${total_gain} or $${total_loss}, equally likely.`;
            }

            document.getElementById('additional-text').innerHTML = additionalText;
            document.getElementById('place_holder').style = 'display:none';
            document.getElementById('next_button').style = 'display:block';
        }

        document.getElementById('investment_slider').addEventListener('input', function() {
            var value = this.value;
            updateValues(value);
        });

        if (document.getElementById('next_button').style.display == 'block') {
            updateValues(document.getElementById('investment_slider').value);
        }

        // updateValues(document.getElementById('investment_slider').value);
    </script>

{% endblock %}
