{% extends "global/Page.html" %}
{% load static %}

{% block title %}Survey{% endblock %}

{% block content %}
    {% if previous_investment %}
        <p> Now you have the option to adjust the amount you invest in the lottery that the robot uses to calibrate its investments. 
            Your previous choice was ${{ previous_investment }}.
        </p>
    {% endif %}
    
    <p>
        You are about to make a choice that will help calibrate a robo-investor, which will then manage your investments for next sessions. 
        You can revisit and adjust your choice every 4 investment periods.
    </p>
    <p>
        <strong>Scenario:</strong><br>
        You have $100 available to invest in a lottery with the following conditions:<br>
        - The lottery has a 50% chance of increasing your investment by 30%<br>
        - It also has a 50% chance of decreasing your investment by 10%<br>
        As you scroll through the bar, you'll see how different investment amounts (ranging from $0 to $100) will affect your outcomes based on these probabilities.
    </p>
    <p>
        Please select your investment amount below. Once you have made your decision, click the “Next” button to proceed.
    </p>

    <div>
        <input type="range" id="investment_slider" name="investment_amount" min="0" max="100" value="{{ player.investment_amount }}" style="width: 80%;">
        <label for="investment_slider">$<span id="investment_value">{{ player.investment_amount }}</span></label>
    </div>

    <div id="content-wrapper" style="display: flex; justify-content: space-between; align-items: center; margin-top: 20px;">
        <div id="text-wrapper" style="width: 50%;">
            <div id="additional-text">
                <p>If you invest $<span id="investment_display">{{ player.investment_amount }}</span> you will have $<span id="gain_value"></span> with probability 50% and $<span id="loss_value"></span> with probability 50%.</p>
            </div>
        </div>
        <div id="image-wrapper" style="width: 50%; text-align: center;">
            <img id="risk-image" src="{% static 'LotteryIllicitation.png' %}" alt="Risk Image" style="width: 80%;">
        </div>
    </div>

    {{ next_button }}

    <script>
        function updateValues(value) {
            document.getElementById('investment_value').textContent = value;
            document.getElementById('investment_display').textContent = value;
            document.getElementById('gain_value').textContent = (value * 1.3).toFixed(2);
            document.getElementById('loss_value').textContent = (value * 0.9).toFixed(2);
        }

        document.getElementById('investment_slider').addEventListener('input', function() {
            var value = this.value;
            updateValues(value);
        });

        updateValues(document.getElementById('investment_slider').value);
    </script>
{% endblock %}
